configuration {
	
	modi: "drun,help:/usr/share/rofi/rofi-help";
	show-icons: true;
	icon-theme: "papirus";
	//fake-transparency: true; << rofi 1.7 may require a compositor
	//sidebar-mode: true;
}

////
//for use with kobaian-menu.rasi
//@import "/mxrm-settings/display0.rasi"
//@import "/mxrm-settings/display1.rasi"
////
@theme "/home/jb/.config/rofi/themes/MX-comfort.rasi"
//@import "/mxrm-settings/mxrm-settings.rasi";
