configuration {
	
	modi: "drun";
	show-icons: true;
	icon-theme: "Papirus";
	//sidebar-mode: true;
}


//@import "/mxrm-settings/display0.rasi"

@theme "MX-fancy.rasi"

@import "/mxrm-settings/mxrm-settings.rasi"
