[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Rofi Manager
Comment=Easily change the rofi configuration
Comment[de]=Erstellen und Verwalten von Fluxbox-Themensätzen
Comment[el]=Αλλάξτε εύκολα τη διαμόρφωση rofi
Comment[es]=Cambiar fácilmente la configuración del rofi
Comment[fr]=Modifier facilement la configuration de la rofi
Comment[fr_BE]=
Comment[it]=Modificare facilmente la configurazione del rofi
Comment[ja]=rofiの設定を簡単に変更できる
Comment[nl]=Verander gemakkelijk de rofi configuratie
Comment[pl]=Łatwa zmiana konfiguracji rofi
Comment[pt]=Alterar facilmente a configuração do rofi
Comment[pt_BR]=
Comment[ru]=Легко изменить конфигурацию rofi
Comment[sv]=Ändra enkelt konfigurationen av rofi
Comment[zh]=轻松地改变rofi配置
Exec=mx-rofi-manager
Icon=/usr/share/pixmaps/mxrm-icon.png
Terminal=false
ShowOnly=
Categories=Settings;



