[Desktop Entry]
Type=Application
Encoding=UTF-8
Name[ca]=Rofi Manager
Name[de]=Rofi-Verwaltung
Name[es]=Rofi Manager
Name[es_ES]=Rofi Manager
Name[fr]=Gestionnaire Rofi - Rofi Manager
Name[fr_BE]=Gestionnaire Rofi - Rofi Manager
Name[gl_ES]=Xestor de Rofi 
Name[it]=Gestore Rofi
Name[ja]=Rofi マネージャ
Name[nb]=Rofi-behandling
Name[pt]=Gestor Rofi
Name[pt_BR]=Gerenciador das Configurações do Rofi do MX
Name[ru_RU]=Rofi Менеджер
Name[sl]=Rofi upravljalnik
Name[sq]=Përgjegjës Rofi
Name[sv]=Rofi Hanterare
Name=Rofi Manager
Comment[ca]=Canvia fàcilment la configuració de Rofi
Comment[de]=Einfaches Ändern der rofi-Konfiguration
Comment[es]=Cambiar fácilmente la configuración de rofi.
Comment[es_ES]=Cambiar fácilmente la configuración de rofi.
Comment[fr]=Modifier facilement la configuration de Rofi
Comment[fr_BE]=Modifier facilement la configuration de Rofi
Comment[gl_ES]=Cambiar facilmente a configuración de rofi
Comment[it]=Cambia facilmente la configurazione rofi
Comment[ja]=Rofi の設定変更が簡単に行えます
Comment[nb]=Enkel behandling av rofi-oppsettet
Comment[pt]=Alterar facilmente a configuração do rofi
Comment[pt_BR]=O ‘Rofi Manager’ ou ‘MX-Rofi-Manager’ ou ‘Gerenciador das Configurações do Rofi do MX’ permite alterar facilmente a configurações do pesquisador e inicializador de aplicativos e arquivos Rofi
Comment[ru_RU]=\sПростое изменение конфигурации rofi
Comment[sl]=Preprosto spreminjanje rofi nastavitev
Comment[sq]=Ndryshoni me lehtësi formësimin rofi
Comment[sv]=Ändra lätt rofi konfiguration
Comment=Easily change the rofi configuration
Exec=mx-rofi-manager
Icon=mxrm-icon
Terminal=false
ShowOnly=
Categories=Settings;



