configuration {
	
	modi: "drun,help:/usr/share/rofi/rofi-help";
	//width: 20;
	show-icons: true;
	icon-theme: "papirus";
	//lines: 20;
	//fake-transparency: true;
	sidebar-mode: true;
}

@theme "/usr/share/rofi/themes/MX-comfort.rasi"
