[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=MX Comfort 
Name[de]=MX Comfort 
Name[el]=MX Comfort 
Name[es]=MX Comfort 
Name[fr]=MX Comfort  
Name[it]=MX Comfort 
Name[ja]=MX Comfort 
Name[nl]=MX Comfort
Name[pl]=MX Comfort 
Name[pt]=MX Comfort 
Name[ru]=MX Comfort 
Name[sv]=MX Comfort 
Comment=Change colors in theme
Comment[de]=Farben im Thema ändern
Comment[el]=Αλλαγή χρωμάτων στο θέμα
Comment[es]=Cambiar los colores en el tema
Comment[fr]=Modifier les couleurs du thème
Comment[it]=Cambiare i colori nel tema
Comment[ja]=テーマの色変更
Comment[nl]=Verander kleuren in thema
Comment[pl]=Zmień kolory w motywie
Comment[pt]=Mudança de cores no tema
Comment[ru]=Изменение цветов в теме
Comment[sv]=Ändra färger i temat
Exec=mxfb-comfort
Icon=/usr/share/pixmaps/mxcr-icon.png
Terminal=false
ShowOnly=fluxbox
Categories=System;
